version: '3.8'
services:
  app:
    build: .
    ports:
      - '8080:8080'
    depends_on:
      - db
      - wiremock
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: vehicle
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
  wiremock:
    image: wiremock/wiremock:2.35.0
    ports:
      - '8089:8080'
    volumes:
      - ./mocks:/home/wiremock
